/* 
*{
	margin: 0;
	padding: 0;
} 
*/

body {
	font-family:			"Segoe UI", Verdana, Helvetica, Arial, sans-serif;
	font-size:				11px;
	margin: 0;
	padding: 0;
}

a{ /* para se tirar a cor e sublinhado feios dos links */ 
	text-decoration: none;
	color:#000;
}

a:hover{
	color: rgb(51, 79, 88);
}

#menu {
	margin-bottom:			2em;
}

#preview {
	padding:				2em;
	text-align:				center;
}

.chapter {
	-webkit-columns:		460px;
	   -moz-columns:		460px;
			columns:		460px;

	-webkit-column-gap:		4em;
	   -moz-column-gap:		4em;
			column-gap:		4em;

	-webkit-column-rule:	thin solid silver;
	   -moz-column-rule:	thin solid silver;
			column-rule:	thin solid silver;

	text-align:				justify;
}

h1{
	background:			gray;
	text-align: center;
	color:					white;
	margin-top:				0;
	font-size: 30px;
}
h2 {
	background:				gray;
	color:					white;
	padding:				.2em .4em;
}

h3 {
	color:					rgb(82, 82, 82);
	margin-top:				0;
	text-align: center;
	Letter-spacing: 0.2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
	text-transform: uppercase;
	font-weight:100;
}

hr {
	border-top:			double;
	margin:				2em 25%;
	
}

#footer {
	margin-top:			4em;
	text-align:			center;
	color:				silver;
	border-top:			thin solid silver;
	padding-top:		1em;
}

.output {
	font-family:		monospace;
	border:				solid thin silver;
	padding:			.2em .4em;
	background-color:	#cf3;
}

.clickable {
	cursor:				pointer;
}

pre {
	tab-size:			4;
	overflow-x:			auto;
	background-color:	#eee;
	-webkit-column-break-inside: avoid;
}


#preview-coverflow .cover {
	cursor:		pointer;
	width:		320px;
	height:		240px;
	box-shadow:	0 0 4em 1em white;
}

/* END STYLE - COVERFLOW */


/* NAVIGATION BAR */ 
/* Add a background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  height: 30px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
  	border: 1px solid #ccc;
		border-radius: 15px;
		padding: 25px 50px;
  }
}

.round_search_box{
    border-radius: 15px;
    border: 1px #000 solid;
}

.topnav img{
		float: left;
    display: block;
    height: 50px;
    width: auto;
}

/* end of Navigation Bar */ 

#recipe img{
	float: center;
    display: block;
    height: auto;
    width: 100%;
}

#recipe {
	width: 95%;
	margin: auto;
}

#recipe h1{
	Letter-spacing: 0.1em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
	font-weight:400;
}

#instructions {
	padding: 40px;
	width: 50%;
	border: 2px rgb(177, 177, 177) solid;
}

#ingredients {
	padding: 20px;
	width: 20%;
	border: 2px rgb(177, 177, 177) solid;
}

#ingredients ul{
	margin: 0;
  padding: 0;
	text-align: center;
	list-style-position: inside;
	list-style: none;
}

#ingredients li{
	padding-bottom: 5px;
	border-bottom: dotted 2px gray;
}